// Brand Color Palette
$off-white: #f4f4f4;
$pure-white: #fff;
$color-primary: #1D09C0;
$color-primary-dark: darken($color-primary, 20%);
$color-primary-light: lighten($color-primary, 20%);
$color-secondary: #75E5B7;
$color-surface: #FFFFFF;
$color-background: #FFFFFF;
$color-warn: #FFA54E;
$color-error: #B00020;
$color-on-primary: #ffffff;
$color-on-secondary: #ffffff;
$color-on-error: #ffffff;
$color-on-surface: #333333;
